* {
  margin: 0;
  padding: 0em;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.dark-logo {
  color: #6e6e6e;
}

.light-logo {
  color: grey;
  font-weight: 200;
}

.nav-header {
  border-bottom: 1px solid #dadce0;
}

.nav-top {
  height: 64px;
  margin-left: 5%;
  margin-right: 5%;
}

.nav-top h1 {
  font-weight: 800;
}


.nav-top, .nav-top ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-top li {
  margin-left: 32px;
}

.nav-top-link {
  font-weight: 500;
  text-decoration: none;
}

.initial-link {
  color: #ff5252;
}

.nav-top-link a:visited, a:active, a:hover, a {
  color: rgba(0,0,0,.6);
  font-weight: 500;
  font-size: 14px;
}

.main-wrapper {
  padding: 20px 60px 48px;
}
.nav-fonts {
  border: 1px solid #dadce0;
  border-radius: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input[type='search'] {
  border: none;
  height: 100%;
  font-size: 15px;
  white-space: nowrap;
  font-family: "Roboto";
}

input[type='text'] {
  border: none;
  height: 100%;
  font-size: 15px;
  white-space: nowrap;
  font-family: "Roboto";
}

select {
  border: 0;
  padding-left: 12px;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: 14px;
}


.fonts-card-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 64px;
  align-items: flex-start;
  flex-basis: 0;
}

.fonts-card {
  width: 35%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid grey;
  margin-bottom: 5%;
}

.fonts-card-header {
  cursor: pointer;
  margin-top: 5%;
}

.fonts-card h1,h2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-top: 5px;
}

.fonts-card h2 {
  color: rgba(0,0,0,.6);
  margin-bottom: 4px;
}

.fonts-card i {
  float: right;
}

.fonts-card-example {
  font-size: 24px;
}

#baskerville-example {
  font-family: 'Baskervville', serif;
}

#open-sans-example {
  font-family: 'Open Sans', sans-serif;
}

#lato-example {
  font-family: 'Lato', sans-serif;
}

#calistoga-example {
  font-family: 'Calistoga', cursive;
}

#montserrat-example {
  font-family: 'Montserrat', sans-serif;
}

#roboto-example {
  font-family: 'Roboto', sans-serif;
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}